/* * {
  border: 1px solid pink;
} */

body, html {
  height: 100%;
}


#bg {
   background-image: url('images/kai_and_lela.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
}

.bg {
   background-image: url('images/kai_and_lela.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 800px;
}

/* #profile {
   background-image: url('images/laura.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
} */

.white {
  color: white;
}
