/* * {
  border: 1px solid red;
} */

/* body {
  background-image: url('{{STATIC_URL}}images/kai_and_lela.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
