{% extends 'base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <h1 class="display-l-3">EMPOWER &middot NURTURE &middot SUPPORT</h1>
    <img class="img-fluid" src="{% static 'css/images/laura.jpg' %}" alt="Responsive image">
  </div>
  <p>I ENVISION A WORLD WHERE ALL PEOPLE LIVE IN DEEP CONNECTION AND HARMONY
WITH THEMSELVES, THEIR COMMUNITIES, AND THE EARTH, AS THEY HONOR THE
RHYTHMS, RITUALS, AND RITES OF PASSAGE THAT GUIDE THEM ON THEIR JOURNEY
THROUGH LIFE.</p>

<p>I am here to help guide you and give you permission to fully feel the
whole of your experience.</p>

<p>If you’re wondering how I got here...</p>

<p>I grew up in a semi-rural community in New Jersey with my parents and
siblings. Being the youngest of six children there was never a dull
moment. My four sisters were all close in age while my brother and I
came into the picture many years later. My oldest sister Mary is
disabled and lived at home with us and it’s worth noting that this
experience really instilled in me a reverence for life, a calling to
help others, and an appreciation that I will be eternally grateful for.</p>

<p>Overall those were wonderful formative years that started me on my path
to health, wellness and helping others. My mother and father raised us
from day one in a very natural environment. The use of “home” remedies
was commonplace for all of us. She believed that while conventional
medicine serves it’s purpose in certain situations that it failed to
really get to the root of most all health concerns. She believed very
strongly and taught us that the earth provided everything needed to
protect and heal us. Being raised in this environment empowered me from
a very young age to take control and be responsible for my own health
and wellness to the best of my ability.</p>

<p>Moving on through high school I was always outgoing and loved being
surrounded by lots of laughter and friends. I continued on my natural
journey and really took an interest in herbs and essential oils for
healing and health at this time.</p>

<p>I moved on to college in New Jersey and then Virginia studying
Communications and received my degree in 2001. I decided to pick up and
make a move west to Colorado in 2001 where I quickly signed up for a
bunch of fun classes including photography, music and drama. I’ve always
been a bit of an actress and love to sing. :-)</p>

<p>I eventually settled into my Horticulture degree at Colorado State
University and graduated with my bachelors in 2007. I move to California
for a year after that to work and while I loved it I missed Fort
Collins. I moved home and immediately began my massage therapy
certification and was certified in 2008. I became certified in raindrop
technique, prenatal massage and hot stone massage the same year.</p>

<p>After becoming a mom in 2012 my life was completely changed. I had
planned a homebirth and had a cesarean in the end. This experience shook
me to my core. Being in the hospital setting was not something I was
used to and I did not want my son to be born into such a chaotic
environment. I felt unsupported, and unheard in the hospital setting. My
needs and heartfelt desires were largely dismissed and my birth did not
feel like it was mine. While my pregnancy with him was absolutely
amazing overall the birth experience was traumatizing for me in many
ways. Through this experience I learned that happiness was a choice. I
learned that there was a divine plan at work that I didn’t control or
even understand. I learned that I was way stronger than I knew, that I
carried deep wisdom inside me, and that this incredibly difficult
experience was in fact my greatest gift.</p>

<p>It is from this moment that I felt drawn to help and nurture other moms
and families through their prenatal, pregnancy and postpartum journeys.
In 2014 I received my Doula certification in Fort Collins through Tender
Gifts Doulas and in 2015 I had my daughter at home with no medical
intervention. Again, this was a life-changing experience. After two
dramatically different birth stories I felt even more drawn to help and
support others, to empower them to have the best birth experience
possible.</p>

<p>The birth of my son was really the catalyst for my new journey and
vision for my future. From the beginning he had all kinds of skin
issues, a lot of which are normal for many babies but around three
months old I noticed he had developed a lot of eczema that was really
affecting his skin and his happiness. This is the moment that my journey
into food, gut healing, nutrition etc really began and now all these
years later I am still on this journey with my son. We have made amazing
strides and after working with countless practitioners and healers I
myself have grown in incredible ways.</p>

<p>So as I continue on this joinery with an open heart and mind I gain more
and more knowledge and the desire to help others. It has been very hard
watching my son struggle all these years, feeling hopeless and helpless
a lot of the time. There have been some very sad years in there where I
felt incredibly isolated and alone, but I have spent the past six months
excavating the inner most caves of my body, mind and heart and awakening
to the boundless love wisdom and potential within me.</p>

<p>For as long as I can remember I have been fascinated by the connection
of the body, mind and heart. Throughout my studies in horticulture,
holistic health, massage therapy, aromatherapy, nutrition and my Doula
practice I have gained the tools to help heal myself as well as others.</p>

<p>I believe deeply and passionately that we should all be given the
education and tools necessary to enable and allow ourselves to make
informed choices and decisions instead of just being told what to do. We
all have the ability and power to truly understand how our bodies works
so that we can heal from the inside out. I encourage my clients to take
charge of their own experiences. I am a support throughout this journey
offering information to help them make the decisions that are best for
them. I believe that the foundation of health is nutrition and the
gentle balance of healing the heart and mind. Like symbiosis there is a
necessary and mutually beneficial relationship between the two.</p>

<h5>MAY YOU ALWAYS REMEMBER YOU ARE SO MUCH MORE THAN YOU THINK YOU ARE.</h5>

<p>In devotion to your becoming,</p>

<p>Laura</p>

<div class="row justify-content-center">
  <img class="img-fluid"  src="{% static 'css/images/laura_and_baby_kai.jpg' %}" alt="">
</div>





</div>

{% endblock %}
